.container-projects {
    height: 80vh;
    overflow-y: scroll;
}

.card {
    position: relative;
    background-color: black;
    margin-top: 5rem;
    margin-right: 2rem;
    height: 30rem;
    border-radius: 30px;
}

.card-img {
    opacity: 25%;
    height: 100%;
    width: 100%;
    object-fit: cover cover;
    border-radius: 30px;
}

.card-title {
    background: linear-gradient(to right, #377771, #cffffa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-style: italic;
    margin-top: 1.5rem;
}

.card-text {
    margin: 2rem 0 3rem 0;
}

.button {
    background-color: #377771;
    color: white;
    text-decoration: none;
    margin: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.5s linear;
}

.button:hover {
    transition: all 0.5s linear;
    color: black;
}

@media screen and (max-width: 1200px) {
    .container-projects {
        height: max-content;
        overflow-y: hidden;
    }
 }

 @media screen and (max-width:768px){
    .card-text {
        font-size: 13px;
    }
 }