.modal-content {
    background-color: #020f0e;
    color: white;
}

.h4 {
    background: linear-gradient(to right, #377771, #cffffa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}

.form-control {
    background-color: #d3edea;
}

.form-control:focus{
    box-shadow: none;
}

.btn-form {
    background-color: #377771;
    color: white;
    border-radius: 0.5rem;
    border: #377771;
    transition: all 0.5s linear;
    width: 7rem;
}

.btn-form:hover {
    background-color: #377771;
    transition: all 0.5s linear;
    color: black;
}