.me {
    padding: 6rem 6rem 0rem 6rem;
    height: 80vh;
}

.me h1 {
    background: linear-gradient(to right, #377771, #cffffa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 48px;
}

.me p {
    font-size: 18px;
}

@media screen and (max-width: 1200px) {
    .row-display {
        display: none;
    }

    .me {
        height: max-content;
    }
}