.contact {
    margin-top: 3rem;
}

.contact h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #377771, #cffffa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.react-icons {
    font-size: 2rem;
    color: white;
    margin-right: 15px;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.8s linear;
}

.react-icons:hover {
    transition: all 0.8s linear;
    background-color: #377771;
    color: black;
    cursor: pointer;
}